In [877]:
import os
import matplotlib.pyplot as plt
import cartopy.crs as ccrs

import numpy as np
import pandas as pd
import powerplantmatching as pm
import pypsa
import xarray as xr
#from _helpers import configure_logging, create_logger, read_csv_nafix, update_p_nom_max
from powerplantmatching.export import map_country_bus
import yaml
import geopandas as gpd

with open('../../pypsa-earth/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

import warnings

# 1st: Concat all of the powerplants from 2020 to 2050

In [878]:
scenario_PyPSA = "SEA_AIMS_"
network_name = "elec_s_200_ec_lcopt_3H"
folder_name = "pypsa-earth"

years = [2020,2025,2030,2035,2040,2045,2050]

fn_powerplants = {year:pd.read_csv(f"../../../{folder_name}/resources/{scenario_PyPSA}{year}/powerplants.csv", index_col = 0) for year in years}

powerplants_GCPT = pd.read_excel("Global-Coal-Plant-Tracker-July-2024.xlsx", sheet_name = "Units", index_col="GEM unit/phase ID")
powerplants_GPD = pd.read_csv(f"global_power_plant_database.csv", index_col="gppd_idnr")

powerplants_GEO = pd.read_csv(f"global_energy_observatory_power_plants.csv")
powerplants_GEO["GEO_index"] = powerplants_GEO["GEO_Assigned_Identification_Number"].apply(lambda x: "GEO-" + str(x))
powerplants_GEO = powerplants_GEO.set_index("GEO_index")

C:\Users\kunde\AppData\Local\Temp\ipykernel_28312\4070867729.py:10: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  powerplants_GPD = pd.read_csv(f"global_power_plant_database.csv", index_col="gppd_idnr")
C:\Users\kunde\AppData\Local\Temp\ipykernel_28312\4070867729.py:12: DtypeWarning: Columns (6,14,27,53,56,58,62,74,78,79,82,83,89,90,91,92,93,94,95,96,97,98,99,100,108,115,121,124,125,128,132,133,134,135,136,140,142,143,144,148,149,150,152,153,154,156,159,160,161,162,165,170,179,180,181,184,185,186,187,188,193,194,198,200,205,206,207,208,209,210,219,222,228,229,236,237,238,239,240,242,246,247,248,250,251,252,253,254,258,260,261,263,264,265,266,268,270,272,273,274,276,279,282,283,286,287,288,290,292,294,297,300,306) have mixed types. Specify dtype option on import or set low_memory=False.
  powerplants_GEO = pd.read_csv(f"global_energy_observatory_power_plants.csv")

In [879]:
import ast

powerplants = pd.DataFrame()

for year in years:
    pp = fn_powerplants[year].query("Fueltype == 'Hard Coal'")
    warnings.filterwarnings("ignore")
    pp["complete_name"] = pp["Name"] + " " + pp["Capacity"].astype(int).astype(str) + " " + pp["DateOut"].astype(int).astype(str)
    warnings.filterwarnings("default")
    pp = pp.set_index("complete_name")

    if powerplants.empty:
        powerplants = pp
    else:
        new_index = list(set(pp.index.tolist()) - set(powerplants.index.tolist()))
        powerplants = pd.concat([powerplants,pp.loc[new_index,:]],axis=0)

powerplants = powerplants.loc[:,["Name","Fueltype","Technology","Set","Country","Capacity","Efficiency","projectID"]]
powerplants = pd.concat([powerplants, powerplants.projectID.map(ast.literal_eval).apply(pd.Series)], axis = 1)

#GEM Global-Coal-Plant-Tracker-July-2024
powerplants.GCPT = powerplants.GCPT.apply(lambda x: list(x) if type(x) == set else [])
powerplants["GCPT_len"] = powerplants.GCPT.apply(lambda x: len(x))

column_name = {len_i:f"GCPT_{len_i}" for len_i in range(0,powerplants["GCPT_len"].max()+1)}

for column_target in ['Combustion technology','Coal type','Emission factor (kg of CO2 per TJ)','Captive']:
    for len_i, column in column_name.items():
        powerplants[column] = powerplants.GCPT.apply(lambda x: x[len_i] if len(x) > len_i else np.nan)
        powerplants[column] = powerplants[column].apply(lambda x: "G100000" + x[1:] if not pd.isnull(x) else np.nan)
        powerplants[column] = powerplants[column].apply(lambda x: powerplants_GCPT.loc[x,column_target] if x in powerplants_GCPT.index and not pd.isnull(x) else np.nan)
    
    powerplants[column_target] = powerplants.loc[:,column_name.values()].T.mode().T[0]
    powerplants = powerplants.drop(columns=column_name.values())

powerplants = powerplants.rename(columns={'Combustion technology':'GCPT_technology','Coal type':'GCPT_coal_type', 'Emission factor (kg of CO2 per TJ)':'GCPT_emission_factor'})
powerplants["Technology"] = powerplants["GCPT_technology"]

# WRI global_power_plant_database
powerplants.GPD = powerplants.GPD.apply(lambda x: list(x) if type(x) == set else [])
powerplants["GPD_len"] = powerplants.GPD.apply(lambda x: len(x))

column_name = {len_i:f"GPD_{len_i}" for len_i in range(0,powerplants["GPD_len"].max()+1)}
for column_target in ['source','url']:
    for len_i, column in column_name.items():
        powerplants[column] = powerplants.GPD.apply(lambda x: x[len_i] if len(x) > len_i else np.nan)
        powerplants[column] = powerplants[column].apply(lambda x: powerplants_GPD.loc[x,column_target] if x in powerplants_GPD.index and not pd.isnull(x) else np.nan)
    
    powerplants[column_target] = powerplants.loc[:,column_name.values()].T.mode().T[0]
    powerplants = powerplants.drop(columns=column_name.values())

powerplants = powerplants.rename(columns={'source':'GPD_source','url':'GPD_url'})

# GEO Global Energy Obeservatory.
powerplants.GEO = powerplants.GEO.apply(lambda x: list(x) if type(x) == set else [])
powerplants["GEO_len"] = powerplants.GEO.apply(lambda x: len(x))

column_name = {len_i:f"GEO_{len_i}" for len_i in range(0,powerplants["GEO_len"].max()+1)}
for column_target in ['Type_of_Plant_rng1','Type_of_Fuel_rng1_Primary']:
    for len_i, column in column_name.items():
        powerplants[column] = powerplants.GEO.apply(lambda x: x[len_i] if len(x) > len_i else np.nan)
        powerplants[column] = powerplants[column].apply(lambda x: powerplants_GEO.loc[x,column_target] if x in powerplants_GEO.index and not pd.isnull(x) else np.nan)
    
    powerplants[column_target] = powerplants.loc[:,column_name.values()].T.mode().T[0]
    powerplants = powerplants.drop(columns=column_name.values())

powerplants = powerplants.rename(columns={'Type_of_Plant_rng1':'GEO_technology','Type_of_Fuel_rng1_Primary':'GEO_fueltype'})

powerplants.GEO_technology = powerplants.GEO_technology.replace({"Sub-critical Thermal":"subcritical",
                                                                 "Super-critical Thermal":"supercritical",
                                                                 "Sub and Ultrasuper Critical Thermal":"subcritical", # The majority of it is still subcritical
                                                                 "Ultra-Super-Critical Thermal":"ultra-supercritical",
                                                                 "Cogeneration Power and Heat Steam Turbine":"CHP",
                                                                 "Combined Cycle Gas Turbine":"CCGT"}
                                                               )

# If GEM technology data not found, then use the GEO data
for i in powerplants.query("Technology.isnull() or Technology == 'unknown'", engine='python').query("not GEO_technology.isnull()", engine='python').index:
    powerplants.loc[i,'Technology'] = powerplants.loc[i,'GEO_technology']

    # Special case for Glow Energy Cfb Thailand 78 2055
    if i == "Glow Energy Cfb Thailand 78 2055":
        powerplants.loc[i,'Technology'] = "CFB"

confirmed_GPD_source = ["Philippines Department of Energy"]

for i in powerplants.query("Technology.isnull() or Technology == 'unknown'", engine='python').index:
    powerplants.loc[i,"TODO"] = "Check internet"

for i in powerplants.query("Technology.isnull() or Technology == 'unknown'", engine='python').query("not GPD_source.isnull()", engine='python').index:
    powerplants.loc[i,"TODO"] = "Check GPD_url" if powerplants.loc[i,"GPD_source"] in confirmed_GPD_source else "Find other sources"

for i in powerplants.query("Technology.isnull() or Technology == 'unknown'", engine='python').query("not Captive.isnull()", engine='python').index:
    powerplants.loc[i,"TODO"] = np.nan

## Add manual information for missing data

In [880]:
# Add thing manually  
manual_tech = {"Formosa Dong Nai 310 2056":"subcritical",
               "Mae Mah 2400 2040":"subcritical",
               "Pcpc 135 2061":"CFB",
               "Pltu Bilibili 2 2058":"unknown",
               "Pltu Cilacap 600 2058":"supercritical",
               "Pltu Gresik 600 2058":"subcritical",
               "Pltu Hendratna 5 2058":"unknown",
               "Pltu Jeneponto 250 2058":"unknown",
               "Pltu Kaur 234 2058":"unknown",
               "Pltu Keramasan 25 2058":"unknown",
               "Pltu Kupang 78 2058":"unknown",
               "Pltu Lati 16 2058":"unknown",
               "Pltu Palu Mpanau Tawaeli 30 2058":"unknown",
               "Pltu Pangkalan Bun 14 2058":"unknown",
               "Pltu Rancong 30 2058":"unknown",
               "Pltu Tabalong 60 2058":"CFB",
               "Pltu Tello 25 2058":"unknown",
               "Pltu Tonasa Boiler Turbine Generator 70 2058":"unknown",
               "Scpc 300 2062":"CFB",
               "Sec 118 2061":"CFB",
               "Slpgc 300 2061":"CFB",
               "Toledo Corp Sangi Sta 88 2054":"CFB"
              }
               
for pp, tech in manual_tech.items():
    powerplants.loc[pp,"Technology"] = tech

manual_captive = {"Malamyine 45 2062":"cement & building",
                  "Andalas Cement 30 2052":"cement & building",
                  "Msp Pulau Obi 114 2061":'nickel, other metals & mining',
                  "Than Bauxit 30 2057":'aluminum',
                 }

for pp, captive in manual_captive.items():
    powerplants.loc[pp,"Captive"] = captive



manual_remove = ["Ninh Binh 100 2056",
                 "Pltu Muara Karang 400 2058",
                 "Pltu Perak 100 2058",
                 "Pltu Priok 100 2058",
                 "Pltu Simpang Belimbing 227 2058",
                 "Pltu Tambak Lorok 300 2058",
                ]

for pp in manual_remove:
    powerplants.loc[pp,"Captive"] = "to_remove"
#powerplants = powerplants.drop(manual_remove, axis=0)

#powerplants = powerplants.query("not Technology.isnull() or not Captive.isnull()", engine='python')

In [881]:
powerplants["Technology"] = powerplants["Technology"].fillna("unknown")

powerplants["Fueltype"] = powerplants["Fueltype"] + " " + powerplants["Technology"]
powerplants["Fueltype"] = powerplants["Fueltype"].replace("Hard Coal unknown","Hard Coal")

In [882]:
powerplants.to_csv("powerplants_technology.csv")
powerplants.to_csv("../../pypsa-earth/configs/powerplants_technology.csv")

## Test run for build_powerplants

In [751]:
powerplant_tech = pd.read_csv("powerplants_technology.csv", index_col=0)

In [752]:
ppl = fn_powerplants[2050]

In [753]:
ppl["unique_name"] = ppl["Name"] + " " + ppl["Capacity"].astype(int).astype(str) + " " + ppl["DateOut"].astype(int).astype(str)

for i in powerplant_tech.index:
    ppl.loc[ppl.unique_name == i,"Technology"] = powerplant_tech.loc[i,"Technology"]
    ppl.loc[ppl.unique_name == i,"Fueltype"] = powerplant_tech.loc[i,"Fueltype"]
    ppl.loc[ppl.unique_name == i,"Captive"] = powerplant_tech.loc[i,"Captive"]

ppl = ppl.query("Captive.isnull()", engine='python')

C:\Users\kunde\AppData\Local\Temp\ipykernel_28312\690077219.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'other metals & mining' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ppl.loc[ppl.unique_name == i,"Captive"] = powerplant_tech.loc[i,"Captive"]

In [754]:
ppl

,Name,Fueltype,Technology,Set,Country,Capacity,Efficiency,Duration,Volume_Mm3,DamHeight_m,...,DateIn,DateRetrofit,DateOut,lat,lon,EIC,projectID,bus,unique_name,Captive
4,Wang Noi,CCGT,CCGT,PP,TH,2660.0,0.163831,NaN,0.0,0.0,...,1996.000000,2011.000000,2051.000000,14.232400,100.780500,"{nan, nan, nan, nan}","{'GGPT': {'L405432'}, 'GEO': {'GEO-41491'}, 'G...",1394,Wang Noi 2660 2051,NaN
44,Banten Lontar,Hard Coal subcritical,subcritical,PP,ID,1260.0,NaN,NaN,0.0,0.0,...,2011.000000,2011.000000,2056.000000,-6.058874,106.464300,"{nan, nan, nan, nan}","{'GCPT': {'G100533', 'G100534', 'G100535', 'G1...",153,Banten Lontar 1260 2056,NaN
45,Indramayu,Hard Coal subcritical,subcritical,PP,ID,990.0,NaN,NaN,0.0,0.0,...,2010.000000,2010.000000,2055.000000,-6.274737,107.970430,"{nan, nan, nan}","{'GCPT': {'G104852', 'G104854', 'G104853'}, 'G...",462,Indramayu 990 2055,NaN
47,Pacitan,Hard Coal subcritical,subcritical,PP,ID,630.0,NaN,NaN,0.0,0.0,...,2011.000000,2011.000000,2056.000000,-8.257818,111.373558,"{nan, nan}","{'GCPT': {'G107721', 'G107720'}, 'GEO': {'GEO-...",1670,Pacitan 630 2056,NaN
49,Pelabuhan Ratu,Hard Coal subcritical,subcritical,PP,ID,1050.0,NaN,NaN,0.0,0.0,...,2013.000000,2013.000000,2058.000000,-7.024200,106.546400,"{nan, nan, nan}","{'GCPT': {'G107917', 'G107919', 'G107918'}, 'G...",1677,Pelabuhan Ratu 1050 2058,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,Xekaman,Hydro,NaN,PP,LA,322.0,NaN,NaN,0.0,0.0,...,2016.000000,2016.000000,2116.000000,14.960100,107.155500,{nan},{'GHPT': {'G602434'}},2336,Xekaman 322 2116,NaN
1327,Xekong,Hydro,NaN,PP,LA,330.0,NaN,NaN,0.0,0.0,...,2022.000000,2022.000000,2122.000000,15.975000,106.931000,{nan},{'GHPT': {'G602442'}},2212,Xekong 330 2122,NaN
1328,Xekong,Hydro,NaN,PP,LA,140.0,NaN,NaN,0.0,0.0,...,2014.205128,2014.205128,2114.205128,15.384500,106.778900,{nan},{'GHPT': {'G602438'}},2322,Xekong 140 2114,NaN
1329,Xekong,Hydro,NaN,PP,LA,147.0,NaN,NaN,0.0,0.0,...,2014.205128,2014.205128,2114.205128,15.119900,106.823300,{nan},{'GHPT': {'G602439'}},2336,Xekong 147 2114,NaN
1330,Xekong Downstream,Hydro,NaN,PP,LA,86.0,NaN,NaN,0.0,0.0,...,2023.000000,2023.000000,2123.000000,14.599200,106.554200,{nan},{'GHPT': {'G602437'}},2600,Xekong Downstream 86 2123,NaN

# Check cost changes througout the year

In [764]:
fn_costs = {year:pd.read_csv(f"../../technology-data/costs_{year}.csv", index_col=["technology", "parameter"]).sort_index() for year in years}

In [625]:
target_compare = ["CO2 intensity","FOM","VOM","efficiency","fuel","investment","lifetime"]
carrier = "coal"


for target in target_compare:
    #print(target)
    value = []
    
    for year in years:
        costs = fn_costs[year]
        warnings.filterwarnings("ignore")
        value += [costs.query("technology == @carrier & parameter == @target").value[0]]
        warnings.filterwarnings("default")
    
    #df_plot = pd.DataFrame(data={"year":years,"value":value}).set_index("year")
    #df_plot.plot()
    
    if len(set(value)) == 1:
        print(f"all values of {target} are the same")

all values of CO2 intensity are the same
all values of FOM are the same
all values of VOM are the same
all values of efficiency are the same
all values of fuel are the same
all values of investment are the same
all values of lifetime are the same

### Conclusion: all values are the same

In [1]:
fn_costs = {year:pd.read_csv(f"../../../technology-data/costs_{year}.csv", index_col=["technology", "parameter"]).sort_index() for year in years}

NameError: name 'years' is not defined

In [892]:
scenario_PyPSA = "SEA_IRENA_"

cost_append = {"coal":{"efficiency": 0.33, # Its should be LVH, not HHV
                       "lifetime": 30,
                      },
               "coal-SubC":{"efficiency": 0.38,
                            "lifetime": 30,
                           },
               "coal-SC":{"efficiency": 0.42,
                          "lifetime": 30,
                         },
               "coal-USC":{"efficiency": 0.45,
                           "lifetime": 30,
                          },
               "coal-CFB":{"efficiency": 0.38,
                           "lifetime": 30,
                          }
              }

coal_type = ["coal-SubC","coal-SC","coal-USC","coal-CFB"]


for year in years:
    costs = fn_costs[year]
    
    for carrier in coal_type:
        new_costs = costs.query("technology == 'coal'").rename(index={"coal":carrier})
        costs = pd.concat([costs,new_costs])
    
    for carrier, parameters in cost_append.items():
        for parameter, value in parameters.items():
            costs.loc[(carrier,parameter),"value"] = value
            if parameter == "efficiency":
                costs.loc[(carrier,parameter),"source"] = "IEA Technology Roadmap: High-Efficiency, Low-Emissions Coal-Fired Power Generation"
            elif parameter == "lifetime":
                costs.loc[(carrier,parameter),"source"] = "ACE Assessment of the Role of Coal in the ASEAN Energy Transition and Coal Phase-Out"

    if not os.path.exists(f"../../../pypsa-earth/resources/{scenario_PyPSA}{year}"):
        os.mkdir(f"../../../pypsa-earth/resources/{scenario_PyPSA}{year}")

    costs.to_csv(f"../../../pypsa-earth/resources/{scenario_PyPSA}{year}/costs.csv")

In [842]:
costs.query("technology == 'coal-CFB'")

                              value         unit  \
technology parameter
coal-CFB   CO2 intensity     0.3361  tCO2/MWh_th
           FOM               1.3100       %/year
           VOM               3.2612    EUR/MWh_e
           efficiency        0.3800         p.u.
           fuel              9.5542   EUR/MWh_th
           investment     3827.1629     EUR/kW_e
           lifetime         30.0000        years

                                                                     source  \
technology parameter
coal-CFB   CO2 intensity  Entwicklung der spezifischen Kohlendioxid-Emis...
           FOM            Lazard's levelized cost of energy analysis - v...
           VOM            Lazard's levelized cost of energy analysis - v...
           efficiency     IEA Technology Roadmap: High-Efficiency, Low-E...
           fuel           DIW (2013): Current and propsective costs of e...
           investment     Lazard's levelized cost of energy analysis - v...
           lifetime                                   ACE Phase-Down Policy

                                                        further description  \
technology parameter
coal-CFB   CO2 intensity                                                NaN
           FOM            Calculated based on average of listed range, i...
           VOM            Calculated based on average of listed range, i...
           efficiency     Calculated based on average of listed range, i...
           fuel                           Based on IEA 2011 data, 99 USD/t.
           investment     Higher costs include coal plants with CCS, but...
           lifetime                                                     NaN

                          currency_year
technology parameter
coal-CFB   CO2 intensity            NaN
           FOM                   2023.0
           VOM                   2023.0
           efficiency            2023.0
           fuel                  2010.0
           investment            2023.0
           lifetime              2023.0

## Check end results

In [885]:
scenario_PyPSA = "SEA_AIMS_"
network_name = "elec_s_200_ec_lcopt_3H"
folder_name = "pypsa-earth"

years = [2050]

fn_powerplants = {year:pd.read_csv(f"../../../{folder_name}/resources/{scenario_PyPSA}{year}/powerplants.csv", index_col = 0) for year in years}

In [886]:
fn_powerplants[2050]

,Name,Fueltype,Technology,Set,Country,Capacity,Efficiency,Duration,Volume_Mm3,DamHeight_m,...,DateIn,DateRetrofit,DateOut,lat,lon,EIC,projectID,bus,unique_name,Captive
16,Wang Noi,CCGT,CCGT,PP,TH,2660.0,0.163831,NaN,0.0,0.0,...,1996.000000,2011.000000,2051.000000,14.232400,100.780500,"{nan, nan, nan, nan}","{'GGPT': {'L405432'}, 'GEO': {'GEO-41491'}, 'G...",1416,Wang Noi 2660 2051,NaN
44,Cirebon,Hard Coal supercritical,supercritical,PP,ID,1584.0,NaN,NaN,0.0,0.0,...,2012.000000,2012.000000,2057.000000,-6.770286,108.614858,"{nan, nan}","{'GCPT': {'G101591', 'G101590'}, 'GEO': {'GEO-...",164,Cirebon 1584 2057,NaN
46,Pacitan,Hard Coal subcritical,subcritical,PP,ID,630.0,NaN,NaN,0.0,0.0,...,2011.000000,2011.000000,2056.000000,-8.257818,111.373558,"{nan, nan}","{'GCPT': {'G107720', 'G107721'}, 'GEO': {'GEO-...",1691,Pacitan 630 2056,NaN
48,Pelabuhan Ratu,Hard Coal subcritical,subcritical,PP,ID,1050.0,NaN,NaN,0.0,0.0,...,2013.000000,2013.000000,2058.000000,-7.024200,106.546400,"{nan, nan, nan}","{'GCPT': {'G107919', 'G107917', 'G107918'}, 'G...",1698,Pelabuhan Ratu 1050 2058,NaN
49,Rembang,Hard Coal subcritical,subcritical,PP,ID,630.0,NaN,NaN,0.0,0.0,...,2011.000000,2011.000000,2056.000000,-6.636000,111.474900,"{nan, nan}","{'GCPT': {'G108527', 'G108526'}, 'GEO': {'GEO-...",352,Rembang 630 2056,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,Xekaman,Hydro,NaN,PP,LA,322.0,NaN,NaN,0.0,0.0,...,2016.000000,2016.000000,2116.000000,14.960100,107.155500,{nan},{'GHPT': {'G602434'}},2368,Xekaman 322 2116,NaN
1327,Xekong,Hydro,NaN,PP,LA,330.0,NaN,NaN,0.0,0.0,...,2022.000000,2022.000000,2122.000000,15.975000,106.931000,{nan},{'GHPT': {'G602442'}},2244,Xekong 330 2122,NaN
1328,Xekong,Hydro,NaN,PP,LA,140.0,NaN,NaN,0.0,0.0,...,2014.205128,2014.205128,2114.205128,15.384500,106.778900,{nan},{'GHPT': {'G602438'}},2354,Xekong 140 2114,NaN
1329,Xekong,Hydro,NaN,PP,LA,147.0,NaN,NaN,0.0,0.0,...,2014.205128,2014.205128,2114.205128,15.119900,106.823300,{nan},{'GHPT': {'G602439'}},2368,Xekong 147 2114,NaN
1330,Xekong Downstream,Hydro,NaN,PP,LA,86.0,NaN,NaN,0.0,0.0,...,2023.000000,2023.000000,2123.000000,14.599200,106.554200,{nan},{'GHPT': {'G602437'}},2635,Xekong Downstream 86 2123,NaN